<!-- Home Banner -->
<section class="section section-search">
  <div class="container-fluid">
    <div class="banner-wrapper">
      <div class="banner-header text-center">
        <h1>Search Doctor, Make an Appointment</h1>
        <p>
          Discover the best doctors, clinic & hospital the city nearest to you.
        </p>
      </div>

      <!-- <div *ngIf="searchResult">Search Result: {{ searchResult | json }}</div> -->

      <!-- Search -->
      <div class="search-box">
        <form (submit)="searching()">
          <div class="form-group search-location">
            <input
              type="text"
              class="form-control"
              placeholder="Search Location"
            />
            <span class="form-text">Based on your Location</span>
          </div>
          <div class="form-group search-info">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchTerm"
              name="searchTerm"
              placeholder="Search Doctors, Clinics, Hospitals, Diseases, etc"
            />
            <span class="form-text">Ex: Dental or Sugar Checkup, etc</span>
          </div>

          <button type="submit"  class="btn btn-primary search-btn">
            <i class="fas fa-search"   data-toggle="modal" data-target="#exampleModal"></i> <span>Search</span>
          </button>
        </form>
      </div>
      <!-- /Search -->



    </div>
  </div>
</section>
<!-- /Home Banner -->


<!-- Modal -->
<div style="margin-top: 11%;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Searching </h3>


      </div>

      <ul>
        <li *ngFor="let d of data.doctor">
          <h2>{{d.name}}</h2>

          <a href="#" (click)="openProfile('doctor',d.id)" class="booking-doc-img">
            <img _ngcontent-ng-c2320061364="" [src]="IMG_URLs+ d.imageName" alt="User Image" class="avatar-img rounded-circle">
          </a>
        </li>
        <br>

        <li *ngFor="let d of data.lab">
          <h2>{{d.labName}}</h2>

          <a  (click)="openProfile('lab',d.id)" href="#" class="booking-doc-img">
            <img _ngcontent-ng-c2320061364="" [src]="IMG_URLs+ d.imageName" alt="User Image" class="avatar-img rounded-circle">
          </a>
        </li>
        <li *ngFor="let d of data.pharmacy">
          <h2>{{d.pharmaName}}</h2>

          <a href="#" (click)="openProfile('doctor',d.id)" class="booking-doc-img">
            <img _ngcontent-ng-c2320061364="" [src]="" alt="User Image" class="avatar-img rounded-circle">
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>


